<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post In Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>View Post in Detail </h1>
    <p>Post id is : <%= post.id %></p>
    <br>
    <div class="post">
        <h4 class="user">Post username is : <%= post.username %></h4>
        <p><%= post.content %></p>
    </div>
    
</body>
</html>